#### webapi options
host=localhost:3030
api_port=3030

#### kart server options
kart_ip=localhost
kart_port=5029

#### scripts options
socs_path=

#### logs
log_path=

#### discord bot options
DISCORD_TOKEN=

discord_media_channel=
discord_curator_role=
discord_curator_emoji=

SERVER=localhost
TEST_GUILD=

INTERVAL=1000

API_PORT=3030
